@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
  @apply px-2;
}

.header-bg-secondary {
  background:rgb(48, 25, 180);
}

.bg-primary {
  background:#3B0F6B;
}

.bg-secondary {
  background:#8A2BE2;
}

.mobile-nav {
  @apply fixed top-14 left-0 h-1/3 w-full bg-gray-700;
}

.mobile-nav li {
  @apply w-full h-full text-center border-b-2;
}

.hero-img {
  @apply rounded-full;
}

.about-img {
  @apply rounded-full object-cover;
}
