@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
  @apply px-2;
}

body {
  font-family: 'Sriracha', cursive;
}

.header-bg-secondary {
  background:rgb(48, 25, 180);
}

.bg-primary {
  background:#3B0F6B;
}

.bg-secondary {
  background:#8A2BE2;
}

.mobile-nav {
  @apply fixed top-14 left-0 h-1/2 w-full bg-gray-900;
}

.mobile-nav li {
  @apply w-full h-full text-center border-b-2;
}

.hero-img {
  @apply rounded-full;
}

.header-section {
  @apply flex sm:flex-row justify-between px-5 py-3 header-bg-secondary w-full z-50; 
}

.about-img {
  @apply rounded-full object-cover;
}

.project-desc {
  @apply absolute left-0 right-0 bottom-0 top-0 bg-primary opacity-0 duration-1000 hover:opacity-100;
}

.btn {
  @apply  bg-secondary px-4 py-2 cursor-pointer hover:border-2 border-white border-dotted rounded font-bold;
}

.section-heading {
  @apply text-4xl border-b-4 w-[150px] border-primary cursor-pointer mb-5
}

@keyframes beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-beat {
  animation: beat 1s infinite;
}

.skill-list {
  @apply text-center rounded-full p-2 bg-gradient-to-r bg-green-200 text-gray-800 font-bold
}

html {
  scroll-behavior: smooth;
}